{% extends 'base.html' %}
{% load static %}
{% block navheader1 %}#header{% endblock %}
{% block navheader2 %}#features{% endblock %}
{% block navheader3 %}#details{% endblock %}
{% block navheader4 %}#pricing{% endblock %}
{% block content %}

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
                        <div class="text-container">
                            <h1>Z PASJĄ DO MOTORYZACJI
                            </h1>
                            <p class="p-large">Poznaj naszą ofertę, skontaktuj się z nami, umów wizytę, ciesz się dobrze wykonaną robotą</p>
                            {% if user.is_authenticated %}
                            <p class="p-large"> Witaj {{ user.get_username }}, udanego przeglądania.</p> 
                            {% else %}
                            <a class="btn-solid-lg page-scroll" href="{% url 'log-in' %}">ZALOGUJ SIĘ</a>
                            {%endif%}
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6 col-xl-7">
                        <div class="image-container">
                            <div class="img-wrapper">
                                <img class="img-fluid" src="{% static 'main/images/header-software-app.png' %}" alt="alternative">
                            </div> <!-- end of img-wrapper -->
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310"><defs><style>.cls-1{fill:#5f4def;}</style></defs><title>header-frame</title><path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z"/></svg>
    <!-- end of header -->

    <!-- Customers -->
    <div class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Image Slider -->
                    <div class="slider-container">
                        <div class="swiper-container image-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                        <img class="img-fluid" src="{% static 'main/images/customer-logo-1.png' %}" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                        <img class="img-fluid" src="{% static 'main/images/customer-logo-2.png' %}" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                        <img class="img-fluid" src="{% static 'main/images/customer-logo-3.png' %}" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                        <img class="img-fluid" src="{% static 'main/images/customer-logo-4.png' %}" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                        <img class="img-fluid" src="{% static 'main/images/customer-logo-5.png' %}" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                        <img class="img-fluid" src="{% static 'main/images/customer-logo-6.png' %}" alt="alternative">
                                </div>
                            </div> <!-- end of swiper-wrapper -->
                        </div> <!-- end of swiper container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of image slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of customers -->


    <!-- Description -->
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="above-heading">OPIS</div>
                    <h2 class="h2-heading">Naprawa aut od ręki, sprawdź, to naprawdę aż takie proste</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'main/images/description-1.png' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Umów wizytę</h4>
                            <p>Cały proces rozpoczynamy od kontaktu z doradcą, zostaje ustalony termin oględzin, wstępne koszty oraz termin oddania auta</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'main/images/description-2.png' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Pełna inwigilacja</h4>
                            <p>Zostaniesz powiadomiony o rozpoczęciu prac nad twoim pojazdem, logując się przez stronę otrzymujesz możliwość oglądania całego procesu naprawy przez kamery ochrony</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'main/images/description-3.png' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Do (nie) następnego</h4>
                            <p>Podczas kolejnych wizyt zbieraj punkty w ramach programu lojalnościowego i ciesz się zniżkami na kolejne naprawy</p>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of description -->


    <!-- Features -->
    <div id="features" class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="above-heading">NOWOŚĆ</div>
                    <h2 class="h2-heading">Profesjonalny tuning pojazdów</h2>
                    <p class="p-heading">Ciągły rozwój w jednym kierunku wypycha nas poza ramy normalność, posiadając wieloletnie doświadczenie oraz zgraną i dobrze wyposażoną załogę jesteśmy w stanie osiągną niemożliwe.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Tabs Links -->
                    <ul class="nav nav-tabs" id="argoTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-list"></i>Wybór komponentów</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-envelope-open-text"></i>Testy kompatybilnościowe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-chart-bar"></i>Analiza osiągów</a>
                        </li>
                    </ul>
                    <!-- end of tabs links -->

                    <!-- Tabs Content -->
                    <div class="tab-content" id="argoTabsContent">

                        <!-- Tab -->
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image-container">
                                        <img class="img-fluid" src="{% static 'main/images/features-1.png' %}" alt="alternative">
                                    </div> <!-- end of image-container -->
                                </div> <!-- end of col -->
                                <div class="col-lg-6">
                                    <div class="text-container">
                                        <h3>Jest to prostrze niż się wydaje</h3>
                                        <p>Przygodę z tuningiem rozpoczynamy od <a class="blue page-scroll" href="{% url 'sign-up' %}">założenia konta</a> na naszej stronie, otrzymasz jednorazowy kod na email, który pozwoli ci na korzystanie z naszej aplikacji 24/7.</p>
                                        <ul class="list-unstyled li-space-lg">
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Załóż konto</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Dodaj przedmioty do koszyka</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Skontaktuj się z modderem w celu dogadania szczegółów</div>
                                            </li>
                                        </ul>
                                        <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">SPRAWDŹ</a>
                                    </div> <!-- end of text-container -->
                                </div> <!-- end of col -->
                            </div> <!-- end of row -->
                        </div> <!-- end of tab-pane -->
                        <!-- end of tab -->

                        <!-- Tab -->
                        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image-container">
                                        <img class="img-fluid" src="{% static 'main/images/features-2.png' %}" alt="alternative">
                                    </div> <!-- end of image-container -->
                                </div> <!-- end of col -->
                                <div class="col-lg-6">
                                    <div class="text-container">
                                        <h3>Wiele prób - Zawsze zwycięstwo</h3>
                                        <p>Poprzez stosowanie autorskiego programu testerskiego jesteśmy w stanie dokładnie przewidzieć zachowanie i współpracę każdego z wybranych elementów. </p>
                                        <ul class="list-unstyled li-space-lg">
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Podanie danych wejściowych</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Analiza każdego elementu</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Precyzyjne wyniki</div>
                                            </li>
                                        </ul>
                                        <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-2">SPRAWDŹ</a>
                                    </div> <!-- end of text-container -->
                                </div> <!-- end of col -->
                            </div> <!-- end of row -->
                        </div> <!-- end of tab-pane -->
                        <!-- end of tab -->

                        <!-- Tab -->
                        <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image-container">
                                        <img class="img-fluid" src="{% static 'main/images/features-3.png' %}" alt="alternative">
                                    </div> <!-- end of image-container -->
                                </div> <!-- end of col -->
                                <div class="col-lg-6">
                                    <div class="text-container">
                                        <h3>Moc co do grosza</h3>
                                        <p>Nasi eksperci dokładnie przeanalizują zakup przed jego realizacją, doradzą i ewentualnie wprowadzą potrzebne poprawki w celu optymalizacji kosztów i osiągów.</p>
                                        <ul class="list-unstyled li-space-lg">
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Analiza zysków</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Optymalizacja strat</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Bezpieczeństwo</div>
                                            </li>
                                        </ul>
                                        <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-3">SPRAWDŹ</a>
                                    </div> <!-- end of text-container -->
                                </div> <!-- end of col -->
                            </div> <!-- end of row -->
                        </div> <!-- end of tab-pane -->
                        <!-- end of tab -->
                        
                    </div> <!-- end of tab content -->
                    <!-- end of tabs content -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of tabs -->
    <!-- end of features -->


    <!-- Details Lightboxes -->
    <!-- Details Lightbox 1 -->
	<div id="details-lightbox-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'main/images/details-lightbox.png' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>Dobór</h3>
                    <hr>
                    <h5>Legendarne komponenty</h5>
                    <p>Po założeniu konta masz możliwość zakupu przedmiotów z naszego sklepu oraz z aukcji naszych partnerów po obniżonych cenach</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Wieloletnia gwarancja</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Nawet 20% taniej</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Darmowa dostawa</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Zwroty do 2 tygodni</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Gratisy</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Upominki</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg mfp-close" href="{% url 'sign-up' %}">REJESTRACJA</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">WRÓĆ</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of details lightbox 1 -->

    <!-- Details Lightbox 2 -->
	<div id="details-lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'main/images/details-lightbox.png' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>Sprawdzone środowisko</h3>
                    <hr>
                    <h5>Moc obliczeń</h5>
                    <p>Nasi eksperci z 10 letnim doświadczeniem w programach symulacyjnych dokonają pełnej wizualizacji i analizy przekazanych danych</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Utworzenie projektu</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Wgląd do prac</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Pomoc telefoniczna</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Zmiana parametrów</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Finalizacja danych</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Pełny wgląd w dane</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg mfp-close" href="{% url 'sign-up' %}">REJESTRACJA</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">WRÓĆ</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of details lightbox 2 -->

    <!-- Details Lightbox 3 -->
	<div id="details-lightbox-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'main/images/details-lightbox.png' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>Narzędzia analityczne</h3>
                    <hr>
                    <h5>Wkład własny a osiągnięcia</h5>
                    <p>Po dokonaniu zmian w symulacji przechodzimy do wdrażania poprawek na żywym organiźmie, analizujemy każdy aspekt i dokonujemy napraw w czasie rzeczywistym</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Określenie budżetu</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Analiza kosztów</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Wyliczenie zniżek</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Optymalizacjia wydatków</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Usprawnianie pracy</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Testy jakościowe</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg mfp-close" href="{% url 'sign-up' %}">REJESTRACJA</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">WRÓĆ</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of details lightbox 3 -->
    <!-- end of details lightboxes -->


    <!-- Details -->
    <div id="details" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>Bez niedomówień, bez pomyłek, uczciwa praca, gwarancja ceny</h2>
                        <p>W celu poprawy serwisu, dostarczamy pełną umowę konsumencką wraz z dokumentami na mocy których dokonywane będą naprawy, przed klientem nic nie jest ukryte, wystarczy czytać.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Szanujemy was oraz wasz czas</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Wersja rozbudowana oraz uproszczona</div>
                            </li>
                        </ul>
                        <a class="btn-solid-reg page-scroll" href="{% url 'sign-up' %}">ZAREJESTRUJ SIĘ</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'main/images/details.png' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details -->


    <!-- Video -->
    <div id="video" class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Video Preview -->
                    <div class="image-container">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=tEupCSie04I" data-effect="fadeIn">
                                <img class="img-fluid" src="{% static 'main/images/video-image.png' %}" alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div> <!-- end of video-wrapper -->
                    </div> <!-- end of image-container -->
                    <!-- end of video preview -->

                    <div class="p-heading">Poznaj nas bliżej</div>        
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of video -->


    <!-- Pricing -->
    <div id="pricing" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="above-heading">WYCENA</div>
                    <h2 class="h2-heading">Cennik usług</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card-->
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">USŁUGI MECHANICZNE</div>
                            <div class="frequency">JUŻ OD</div>
                            <div class="price"><span class="value">49.99</span><span class="currency">zł</span></div>
                            <div class="divider"></div>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Wymiana oleju</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Nabijanie klimatyzacji</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Wulkanizacja</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Strojenie układów</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Naprawy serwisowe</div>
                                </li>
                            </ul>
                            <div class="button-wrapper">
                                <a class="btn-solid-reg page-scroll" href="{% url 'sign-up' %}">SPRAWDŹ</a>
                            </div>
                        </div>
                    </div> <!-- end of card -->
                    <!-- end of card -->

                    <!-- Card-->
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">USŁUGI BLACHARSKIE</div>
                            <div class="frequency">JUŻ OD</div>
                            <div class="price"><span class="value">89.99</span><span class="currency">zł</span></div>
                            <div class="divider"></div>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Wyciąganie wgnieceń</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Naprawy powypadkowe</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Malowanie proszkowe</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Nakładanie ceramiki</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Prostowanie elementów</div>
                                </li>
                            </ul>
                            <div class="button-wrapper">
                                <a class="btn-solid-reg page-scroll" href="{% url 'sign-up' %}">SPRAWDŹ</a>
                            </div>
                        </div>
                    </div> <!-- end of card -->
                    <!-- end of card -->

                    <!-- Card-->
                    <div class="card">
                        <!--<div class="label">
                            <p class="best-value">Best Value</p>
                        </div> -->
                        <div class="card-body">
                            <div class="card-title">USŁUGI ELEKTRYCZNE</div>
                            <div class="frequency">JUŻ OD</div>
                            <div class="price"><span class="value">129.99</span><span class="currency">zł</span></div>
                            <div class="divider"></div>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Naprawa świateł</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Instalacje gazowe</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Ulepszenia pokładowe</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Customowe układy</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Chip tunning</div>
                                </li>
                            </ul>
                            <div class="button-wrapper">
                                <a class="btn-solid-reg page-scroll" href="{% url 'sign-up' %}">SPRAWDŹ</a>
                            </div>
                        </div>
                    </div> <!-- end of card -->
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of pricing -->


    <!-- Testimonials -->
    <div class="slider-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">      
                    
                    <!-- Text Slider -->
                    <div class="slider-container">
                        <div class="swiper-container text-slider">
                            <div class="swiper-wrapper">
                                
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="image-wrapper">
                                        <img class="img-fluid" src="{% static 'main/images/testimonial-1.jpg' %}" alt="alternative">
                                    </div> <!-- end of image-wrapper -->
                                    <div class="text-wrapper">
                                        <div class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada eget nunc eu imperdiet. Sed eleifend est quis velit condimentum sollicitudin. Donec mattis nisi eros, quis tempus sapien sollicitudin quis. Vivamus neque ligula, vulputate ac semper eu, pulvinar eu magna. In vel consectetur ex.</div>
                                        <div class="testimonial-author">Beata. S </div>
                                    </div> <!-- end of text-wrapper -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="image-wrapper">
                                        <img class="img-fluid" src="{% static 'main/images/testimonial-2.jpg' %}" alt="alternative">
                                    </div> <!-- end of image-wrapper -->
                                    <div class="text-wrapper">
                                        <div class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada eget nunc eu imperdiet. Sed eleifend est quis velit condimentum sollicitudin. Donec mattis nisi eros, quis tempus sapien sollicitudin quis. Vivamus neque ligula, vulputate ac semper eu, pulvinar eu magna. In vel consectetur ex.</div>
                                        <div class="testimonial-author">Joe. M</div>
                                    </div> <!-- end of text-wrapper -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="image-wrapper">
                                        <img class="img-fluid" src="{% static 'main/images/testimonial-3.jpg' %}" alt="alternative">
                                    </div> <!-- end of image-wrapper -->
                                    <div class="text-wrapper">
                                        <div class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada eget nunc eu imperdiet. Sed eleifend est quis velit condimentum sollicitudin. Donec mattis nisi eros, quis tempus sapien sollicitudin quis. Vivamus neque ligula, vulputate ac semper eu, pulvinar eu magna. In vel consectetur ex.</div>
                                        <div class="testimonial-author">Mike. C</div>
                                    </div> <!-- end of text-wrapper -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="image-wrapper">
                                        <img class="img-fluid" src="{% static 'main/images/testimonial-4.jpg' %}" alt="alternative">
                                    </div> <!-- end of image-wrapper -->
                                    <div class="text-wrapper">
                                        <div class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada eget nunc eu imperdiet. Sed eleifend est quis velit condimentum sollicitudin. Donec mattis nisi eros, quis tempus sapien sollicitudin quis. Vivamus neque ligula, vulputate ac semper eu, pulvinar eu magna. In vel consectetur ex.</div>
                                        <div class="testimonial-author">Dez. N</div>
                                    </div> <!-- end of text-wrapper -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                            </div> <!-- end of swiper-wrapper -->
                            
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of text slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-2 -->
    <!-- end of testimonials -->


    <!-- Newsletter -->
    <div class="form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <div class="above-heading">SUBSKRYBCJA</div>
                        <h2>Pozostań na bieżąco poprzez zezwolenie na wysyłanie syfu na twoją skrzynkę pocztową</h2>

                        <!-- Newsletter Form -->
                        <form id="newsletterForm" data-toggle="validator" data-focus="false">
                            <div class="form-group">
                                <input type="email" class="form-control-input" id="nemail" required>
                                <label class="label-control" for="nemail">Email</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group checkbox">
                                <input type="checkbox" id="nterms" value="Agreed-to-Terms" required>Przeczytałem <a href="{% url 'privacy-policy' %}">Politykę prywatność </a> oraz <a href="{% url 'terms-conditions' %}">Zasady i warunki</a> 
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">SUBSKRYBUJ</button>
                            </div>
                            <div class="form-message">
                                <div id="nmsgSubmit" class="h3 text-center hidden"></div>
                            </div>
                        </form>
                        <!-- end of newsletter form -->

                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="icon-container">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-pinterest-p fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> <!-- end of col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form -->
    <!-- end of newsletter -->


{% endblock %}