{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Header -->
    <header id="header" class="ex-2-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Zarejestruj się</h1>
                   <p>Wypełnij formularz w celu rejestracji. Już to robiłeś? W takim razie <a class="white" href="{% url 'log-in' %}">Zaloguj się</a></p> 
                    <!-- Sign Up Form -->
                    <div class="form-container">
                        <form action = "{% url 'sign-up' %}" method = POST>
                            {% csrf_token %}

                            <div class="form-group">
                                {{ form.as_p }}
                            </div>

                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">Zarejestruj się </button>
                            </div>
                            <div class="form-message">
                                <div id="smsgSubmit" class="h3 text-center hidden"></div>
                                {% if form.errors %}
                                Wystąpił błąd podczas logowania
                                {% endif %}
                            </div>
                        </form>
                    </div> <!-- end of form container -->
                    <!-- end of sign up form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->

{% endblock %}

{% block footer %} {% endblock %}
